APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=survey_db
DB_USER=root
DB_PASS=

EMPLOYEE_API_URL=http://example.test # Refers to https://github.com/naufalmuhdaffa/employees-dummy-api
# Run this command in the terminal to generate a random API key: 
# php -r "echo bin2hex(random_bytes(32));"
EMPLOYEE_API_KEY=

# Run this command in the terminal to generate a random JWT secret key: 
# php -r "echo bin2hex(random_bytes(32));"
JWT_SECRET=
JWT_EXP=3600 # JWT expiration time in seconds (e.g., 3600 for 1 hour)